<%- include('../partials/header') %>
<% supers.forEach(function(s) { %>
<section class="bikeCase">
    <div class="bikeImg"><img src="<%= s.img %>" alt="bike" width="300" height="240px"></div>
    <div class="bikeTxt">
        <h3 class="model"><%= s.model %></h3>
        <h4 class="make"><%= s.make %></h4>
        <p class="bikeDsc"><%= s.desc %></p>
        <button class="specsClk"><a href="/supers/<%= s._id %>">Specifications</a></button>
    </div>
</section>
<% }); %>









<%- include('../partials/footer') %>